{% extends 'base.html' %}


{% block content %}
<div class="jumbotron">
    <center>
        <br>
        <form action="" method="post">
            <h1>Log In</h1>
            {% csrf_token %}
                <a><input type="username" name="username" id="" placeholder="Email"></a>
                <br>
                <a><input type="password" name="password" id="" placeholder="Password"></a>
                <br>
                <a><button class="btn btn-secundary" type="submit">Log In</button></a>
        </form>
    </center>
</div>

    </center>
</div>
{% endblock content %}