{% extends 'base.html' %}


{% block content %}
<div class="jumbotron">
    <center>
        <h1>Url Shortener</h1>
        <a href="/create/"><button type="button" class="btn btn-secondary">Add URLs manually</button></a>
        <a href="/upload/"><button type="button" class="btn btn-secondary">Submit a .txt File</button></a>
    </center>
</div>
<center>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
</center>
    </center>
</div>
{% endblock content %}