{% extends 'base.html' %}

{% block content %}
<center>
    <div class="alert alert-primary" role="alert">
        <table>
            <thead>
                <tr>
                    <th>URL original</th>
                    <th>URL acortada</th>
                </tr>
            </thead>
            <tbody>
                {% for url in shorts %}
                <tr>
                    {% if url.0|length > 150 %}
                        <td>{{ url.0 |slice:":150" }}...</td>
                    {% else %}
                        <td>{{ url.0 }}</td>
                    {% endif %}
                    <td><a href="/{{ url.1 }}">http://localhost/{{ url.1 }} </a></td>
                </tr>
                {% endfor %}

            </tbody>

        </table>

    </div>
    <center>
        <h1><a href="/download/"><button type="button" class="btn btn-secondary">Download a .txt File</button></a></h1>
    </center>
</center>
{% endblock content %}

